*{
    padding: 0%;
    margin: 0%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 5px;

}

.logo{
    width: 6em;
    border-radius: 2em;
}

.nav-bar > ul{
    display: flex;
    list-style: none;
    font-size: 1.5em;
    font-weight: bold;
    
}
.nav-bar > ul > li{
    margin: 0 10px;
    padding: 0 10px;
}

.search{
    padding: 1em;
    display: flex;

}

.rest-card{
    width: 18em;
    /* height: 20em; */
    border: 1px solid;
    padding: 0.5em;
    margin: 1em;
}

.img-logo:hover{
    border: 1px solid;
    cursor: pointer;
}

.img-logo{
    width: 100%;
    height: 60%;
}

.rest-container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 5em;
}


.footer{
    background-color: black;
    color: white;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-btn{
    cursor: pointer;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-left: 1em;
}
.all-btn{
    cursor: pointer;
    margin-left: 1em;
    padding: 0.5em;
}
.search-btn{
    cursor: pointer;
    padding: 0.5em;
    margin-left: 0.5em;
}

.shimmer-container{
    margin-top: 4em;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5em;
}
.shimmer-card{
    width: 18em;
    height: 25em;
    background-color: #f0f0f0;
    border: 1px solid;
    padding: 0.5em;
    margin: 1em;
}
.shimmer-img{
    width: 18em;
    height: 15em;
    background-color:#bdbcbb;
}

.login-btn{
    padding: 0 1em;
    font-weight: bold;
    cursor: pointer;
}

.rest-card-info > h5 {
    margin-top: 10px;
}